@using User.ViewModels;
@model IndexViewModel

<h2>Home Page!</h2>


<div class="main-img">
    <span class="title">Amazing Blog Site</span>
    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="hidden" name="category" value="@Model.Category" />
        <input class="search" type="text" name="search" placeholder="Search Blog" value="@Model.Search" />
        <button class="submit-btn">Search</button>
    </form>
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-sm-6 p-2">

                @foreach (var post in Model.Posts)
                {


                    <div class="card special_body" style="width: 18rem;">

                        <div class="card-body">
                            <h5 class="card-title">@post.Title</h5>
                            <p class="card-text">@post.Body</p>
                            <a  asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">

                                <i class="fa-regular fa-comment"></i>
                            </a>
                        </div>
                    </div>
                }



            </div>
        </div>
    </<div>
 </div>

