@using User.ViewModels;
@model IndexViewModel

@{
    var currentUserId = ViewData["currentUserId"];
}


<div class="input-group mb-3 w-25">
    <form class="d-flex" asp-controller="Home" asp-action="Index" method="get">

        <input type="hidden" name="category" value="@Model.Category" />
        <input class="search form-control  me" type="search" placeholder="search post" name="search" value="@Model.Search"
               aria-label="Search post">
        <button class="btn btn-outline-secondary">Search</button>

    </form>
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-sm-6 p-2">

                @foreach (var post in Model.Posts)
                {
                    <div class="card special_body" style="width: 18rem;">

                        <div class="card-body">
                            <h5 class="card-title">@post.Title</h5>
                            <p class="card-text">@post.Body</p>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Post" asp-action="Post" asp-route-id="@post.Id">
                                    <i class="fa-regular fa-comment"></i>
                                </a>

                                @if (post.AccountId == currentUserId.ToString())
                                {
                                    <a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id">
                                        <i class="fa-solid fa-file-pen fa-lg"></i>
                                    </a>
                                    <a asp-controller="Post" asp-action="Remove" asp-route-id="@post.Id">
                                        <i class="fa-solid fa-trash fa-lg"></i>
                                    </a>
                                }
                            }

                        </div>
                    </div>

                }

            </div>
        </div>
    </<div>
</div>

